# Import Packages

In [29]:
library(gganimate)
library(tidyverse)

# Read And Prepare Data

In [30]:
Data <- readxl::read_xlsx("FootballData.xlsx")
names(Data) <- c("Club","Income","Country","Year","Position","Colour")
Data$ClubYear <- paste(Data$Club, Data$Year)
summary(Data)

     Club               Income        Country               Year
 Length:422         Min.   : 83.1   Length:422         Min.   :2002
 Class :character   1st Qu.:129.4   Class :character   1st Qu.:2008
 Mode  :character   Median :172.9   Mode  :character   Median :2013
                    Mean   :223.7                      Mean   :2012
                    3rd Qu.:263.5                      3rd Qu.:2016
                    Max.   :750.9                      Max.   :2019
                    NA's   :9
    Position        Colour            ClubYear
 Min.   :1.000   Length:422         Length:422
 1st Qu.:1.000   Class :character   Class :character
 Median :2.500   Mode  :character   Mode  :character
 Mean   :2.235
 3rd Qu.:3.000
 Max.   :3.000
 NA's   :354

# Add Columns For First Place & Create Dataset

In [24]:
DataFirst <- Data
DataFirst$First <- ifelse(DataFirst$Position == 1, 1,0)
DataFirst$FirstSum <- NA
for (i in 1:nrow(DataFirst)){
    temp <- DataFirst[1:i,]
    temp <- sum(temp$First[temp$Club==DataFirst$Club[i]], na.rm = TRUE)
    DataFirst$FirstSum[i] <- as.numeric(temp)
    }
DataFirst <- DataFirst %>%
    group_by(Year) %>%
    mutate(FirstRank = order(order(FirstSum, Club, decreasing=TRUE)))
DataFirst <- DataFirst[DataFirst$FirstRank < 10 & DataFirst$FirstSum >0,]
head(DataFirst)

  Club        Income Country  Year Position Colour  ClubYear         First
1 Real Madrid 138.2  Spain    2002  1       #FEBE10 Real Madrid 2002  1
2 Milan       159.1  Italy    2003  1       #FB090B Milan 2003        1
3 Real Madrid 152.2  Spain    2003  3       #FEBE10 Real Madrid 2003  0
4 Milan       200.4  Italy    2004 NA       #FB090B Milan 2004       NA
5 Real Madrid 193.7  Spain    2004 NA       #FEBE10 Real Madrid 2004 NA
6 Porto          NA  Portugal 2004  1       #0072B6 Porto 2004        1
  FirstSum FirstRank
1 1        1
2 1        2
3 1        1
4 1        3
5 1        1
6 1        2

# Add Columns For Reached Finals & Create Dataset

In [25]:
DataFinals <- Data
DataFinals$Finals <- ifelse(DataFinals$Position == 1, 1,0)
DataFinals$FinalsSum <- NA
for (i in 1:nrow(DataFinals)){
    temp <- DataFinals[1:i,]
    temp <- sum(temp$Finals[temp$Club==DataFinals$Club[i]], na.rm = TRUE)
    DataFinals$FinalsSum[i] <- as.numeric(temp)
    }
DataFinals <- DataFinals %>%
    group_by(Year) %>%
    mutate(FinalsRank = order(order(FinalsSum, Club, decreasing=TRUE)))
DataFinals <- DataFinals[DataFinals$FinalsRank < 10 & DataFinals$FinalsSum >0,]
head(DataFinals)

  Club        Income Country  Year Position Colour  ClubYear         Finals
1 Real Madrid 138.2  Spain    2002  1       #FEBE10 Real Madrid 2002  1
2 Milan       159.1  Italy    2003  1       #FB090B Milan 2003        1
3 Real Madrid 152.2  Spain    2003  3       #FEBE10 Real Madrid 2003  0
4 Milan       200.4  Italy    2004 NA       #FB090B Milan 2004       NA
5 Real Madrid 193.7  Spain    2004 NA       #FEBE10 Real Madrid 2004 NA
6 Porto          NA  Portugal 2004  1       #0072B6 Porto 2004        1
  FinalsSum FinalsRank
1 1         1
2 1         2
3 1         1
4 1         3
5 1         1
6 1         2

# Add Columns For Reached Semis & Create Dataset

In [26]:
DataSemis <- Data
DataSemis$Semis <- ifelse(DataSemis$Position == 1, 1,0)
DataSemis$SemisSum <- NA
for (i in 1:nrow(DataSemis)){
    temp <- DataSemis[1:i,]
    temp <- sum(temp$Semis[temp$Club==DataSemis$Club[i]], na.rm = TRUE)
    DataSemis$SemisSum[i] <- as.numeric(temp)
    }
DataSemis <- DataSemis %>%
    group_by(Year) %>%
    mutate(SemisRank = order(order(SemisSum, Club, decreasing=TRUE)))
DataSemis <- DataSemis[DataSemis$SemisRank < 10 & DataSemis$SemisSum >0,]
head(DataSemis)

  Club        Income Country  Year Position Colour  ClubYear         Semis
1 Real Madrid 138.2  Spain    2002  1       #FEBE10 Real Madrid 2002  1
2 Milan       159.1  Italy    2003  1       #FB090B Milan 2003        1
3 Real Madrid 152.2  Spain    2003  3       #FEBE10 Real Madrid 2003  0
4 Milan       200.4  Italy    2004 NA       #FB090B Milan 2004       NA
5 Real Madrid 193.7  Spain    2004 NA       #FEBE10 Real Madrid 2004 NA
6 Porto          NA  Portugal 2004  1       #0072B6 Porto 2004        1
  SemisSum SemisRank
1 1        1
2 1        2
3 1        1
4 1        3
5 1        1
6 1        2

# Animated Graphs

In [27]:
Graphs <- 
ggplot(DataFirst, aes(FirstRank, group = Club))+
geom_col(aes(y=FirstSum, color = Club, fill = Club))+
coord_flip(clip = "off", expand = FALSE) +
  scale_x_reverse() +
  guides(color = FALSE, fill = FALSE) + #Add Watermark With Website Name
  annotate(
    "text",
    x = -0.5,
    y = 0,
    label = "www.TheDataInspector.com",
    #vjust = -5.5,
      hjust = -1.5,
    colour = "#8D8D8D",
    size = 6
  ) +
  geom_text(
    aes(
      y = 0,
      label = paste(Club, " "),
        color = Club
    ),
    vjust = 0.2,
    hjust = 1,
    size = 6
  ) + 
geom_text(
    aes(
      #y = max(Income) * 0.2,
      y = 0,
        x = -0.5,
      label = as.character(Year),
      fontface = 2,
        color = Club
    ),
    size = 12,
    #vjust = -2.5,
    colour = "#8D8D8D",
    check_overlap = TRUE
  ) +
 geom_text(aes(y = FirstSum, label = as.character(FirstSum)),
            size = 8,
            nudge_y = 10) +
  labs(title = "European Football Club Revenue")+
  theme(
    #Set Theme Options
    axis.line = element_blank(),
    axis.text.y = element_blank(),
    axis.text.x = element_blank(),
    axis.ticks = element_blank(),
    axis.title = element_blank(),
    legend.position = "none",
    panel.background = element_blank(),
    panel.border = element_blank(),
    panel.grid.major = element_blank(),
    panel.grid.minor = element_blank(),
    panel.grid.major.x = element_line(size = .05, colour = "#DBDBDB"),
    panel.grid.minor.x = element_line(size = .05, colour = "#DBDBDB"),
    plot.title = element_text(
      size = 30,
      hjust = 0.5,
      face = "bold",
      colour = "#8D8D8D",
      vjust = 5
    ),
    plot.background = element_blank(),
    plot.margin = margin(3, 2, 2, 10, "cm")
  ) + #Add Transition State Controlling Time Spent Moving And Time Spent At Data Point
  transition_states(Year, transition_length = 10, state_length = 1) + #Control If X & Y Axis Should Scale As Data Changes
  view_follow(fixed_x = TRUE, fixed_y = TRUE)

In [28]:
animate(Graphs, height = 750, width = 900, nframes = 200, fps = 20, renderer = gifski_renderer("Football.gif"))